.taskCreationTag .rs-tag-text{
    min-height: 20px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 2.5px 5px;
}
.chart-statistics .taskSubHeader {
    background-color: #f9fafb;
    /* background-color: brown; */
    border: 1px solid #eaecf0;
    padding: 12px 10px 0px 10px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.taskSubHeader .taskCurrentMenu{
    border-radius: 0;
    border-bottom: 2px solid transparent;
}
.taskSubHeader .taskCurrentMenu:hover{
    background: none;
}
.taskSubHeader .taskCurrentMenu.active{
    border-bottom: 2px solid black;
    font-weight: bold;
    color: black;
}

.haead-sub-menu .taskCurrentMenu.active {
    border :2px solid black;
    color: black;
}
.haead-sub-menu .taskCurrentMenu {
    border :2px solid transparent;
}
.rs-progress.rs-progress-line{
    padding: 0 !important;
}
.rs-progress-line-inner{
    height: auto !important;
}


/* Rolemodel */
.role-model .rs-modal-content{
    width: 500px !important;
}

/* current call setting */
 .form-group .rs-form-control,
 .form-group .rs-form-control input{
    width: 100% !important;
}

.rs-picker.rs-picker-select{
    width: 100% !important;
}
.rs-picker.rs-picker-select .rs-picker-toggle{
    border: 1px solid #d9d9d9 !important;
}